<!DOCTYPE html>
<html>
<head>
  <title>Nodepop</title>
</head>
<body>
  <h1>Productos</h1>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <img src="/images/<%= product.image %>" alt="<%= product.name %>" width="100">
        <%= product.name %> - <%= product.price %>€
      </li>
    <% }); %>
  </ul>
</body>
</html>
